*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 40px;
}

.post-container p:nth-of-type(1) {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.post-container p:nth-of-type(2) {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

button {
  font-size: 1.6rem;
  display: inline-block;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 10px;
}

button a {
  text-decoration: none;
  color: white;
}

.buttons {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  gap: 5px;
}

.btnGrid:hover,
.btnList:hover {
  cursor: pointer;
}
